#app {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #2c3e50;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 60px auto;
  max-width: 800px;
  text-align: center;
}

.btn {
  background-color: #efefef;
  border-radius: 10px;
  border: 0px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  padding: 8px 15px;
  position: relative;
}

.frill-embedded {
  width: 1000px;
  height: 500px;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
}